@model IEnumerable<ProyectoSoftware2.Models.HorarioDesfavorableProfesor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="listar">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Profesor.P_APELLIDO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DIA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HORA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DURACION)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Profesor.P_APELLIDO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HORA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DURACION)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>| 
</table>

    @section scripts
    {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/datatables")
   
<script type="text/javascript">
            $(document).ready(function () {
                $('#listar').DataTable({
                    "paging": true,
                    "recordsFiltered": 10,
                  "lengthChange": false,
                   "searching": true,
                   "ordering": true,
                   "info": true,
                   "autoWidth": false
               });
           });
       </script>
   }
