@model IEnumerable<ProyectoSoftware2.Models.Profesor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.P_APELLIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_APELLIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEXO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_INICIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_FIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPARTAMENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.P_APELLIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S_APELLIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIRECCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELEFONO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEXO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_INICIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_FIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPARTAMENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
