@model ProyectoSoftware2.Models.MateriaXPrerequisito

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MateriaXPrerequisito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Materia.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materia.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreRequisito.PENSUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreRequisito.PENSUM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
