@model ProyectoSoftware2.Models.SolicitarCupo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SolicitarCupo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.materia.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.materia.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodEstudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodEstudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreEstudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEstudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
