@model ProyectoSoftware2.Models.EstudianteXMateria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EstudianteXMateria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ESTUDIANTEID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTUDIANTEID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATERIAID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATERIAID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GRUPO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRUPO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEFINITIVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEFINITIVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HABILITACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HABILITACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RECUPERATORIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RECUPERATORIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FINAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FINAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FALLAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FALLAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERIODO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERIODO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
